@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?82lh6');
  src:  url('fonts/icomoon.eot?82lh6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?82lh6') format('truetype'),
    url('fonts/icomoon.woff?82lh6') format('woff'),
    url('fonts/icomoon.svg?82lh6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
  content: "\e90a";
}
.icon-password:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e90f";
}
.icon-register:before {
  content: "\e910";
}
.icon-more:before {
  content: "\e912";
}
.icon-backTop:before {
  content: "\e913";
}
.icon-backBefore:before {
  content: "\e917";
}
.icon-charts:before {
  content: "\e918";
}
.icon-welfare:before {
  content: "\e919";
}
.icon-shop:before {
  content: "\e91a";
}
.icon-original:before {
  content: "\e91b";
}
.icon-choose:before {
  content: "\e91c";
}
.icon-gifts:before {
  content: "\e91d";
}
.icon-delete:before {
  content: "\e91e";
}
.icon-games:before {
  content: "\e91f";
}
.icon-information:before {
  content: "\e920";
}
.icon-taodo:before {
  content: "\e921";
}
.icon-help:before {
  content: "\e922";
}
.icon-notices:before {
  content: "\e923";
}
.icon-myphone:before {
  content: "\e924";
}
.icon-exchange:before {
  content: "\e925";
}
.icon-card:before {
  content: "\e926";
}
.icon-service:before {
  content: "\e927";
}
.icon-task:before {
  content: "\e928";
}
.icon-currency:before {
  content: "\e929";
}
.icon-mytaodo:before {
  content: "\e92a";
}
.icon-message:before {
  content: "\e92b";
}
.icon-none:before {
  content: "\e92c";
}
.icon-ok:before {
  content: "\e92d";
}
.icon-new:before {
  content: "\e92e";
}
.icon-gamegift:before {
  content: "\e92f";
}
.icon-gamelists:before {
  content: "\e930";
}
.icon-share:before {
  content: "\e931";
}
.icon-comment:before {
  content: "\e932";
}
.icon-home1:before {
  content: "\e906";
}
.icon-mine1:before {
  content: "\e907";
}
.icon-game1:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e904";
}
.icon-loading:before {
  content: "\e900";
}
.icon-offline:before {
  content: "\e914";
}
.icon-failed:before {
  content: "\e915";
}
.icon-success:before {
  content: "\e916";
}
.icon-one:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-notice:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e908";
}
.icon-mine:before {
  content: "\e90b";
}
.icon-game:before {
  content: "\e90d";
}
.icon-arrow-right:before {
  content: "\e90e";
}
.icon-arrow-down:before {
  content: "\e911";
}
